<form [formGroup]="addRoomForm" (ngSubmit)="submitAddRoomForm()" class="login-form">
  <mat-dialog-content>
    <div class="piInfo">
      <mat-icon>account_circle</mat-icon>
      <p>Add Room</p>
    </div>

    <mat-form-field appearance="fill">
      <mat-label>Rooms</mat-label>
      <mat-select formControlName="room">
        <mat-option *ngFor="let room of rooms" [value]="room">{{ room.roomNo }}</mat-option>
      </mat-select>
    </mat-form-field>


    <button mat-flat-button type="submit" class="login-button" color="light-blue">Add Room</button>
  </mat-dialog-content>
</form>

