mat-card {
  background-color: #19b;
  color: white;
}

mat-card {
  margin: 10px;
}

mat-card:hover {
  box-shadow: 0 6px 6px rgba(0,0,0,0.2);
}

mat-divider {
  margin: 0 16px;
  border-top-color: white;
}

mat-card-title {
  display: flex;
  align-items: center;
}

mat-card-title > img {
  padding-right: 16px;
}

mat-card-header {
  padding: 16px;
}

mat-card-actions button {
  color: white;
}
