<mat-card>
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>
      <img height="30" width="30" ngSrc="assets/raspberry.svg" alt=""/>
      Pi: {{ pi.name }}
    </mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <p>
      <b>status: </b>
      <ng-template [ngIf]="pi.status=='online'">
        <img height="15" width="15" ngSrc="../../assets/circleGreen.svg" alt=""/>
      </ng-template>
      <ng-template [ngIf]="pi.status=='offline'">
        <img height="15" width="15" ngSrc="../../assets/circleRed.svg" alt=""/>
      </ng-template>
      <ng-template [ngIf]="pi.status=='error'">
        <img height="15" width="15" ngSrc="../../assets/circleGrey.svg" alt=""/>
      </ng-template>
      {{ pi.status }}
    </p>
    <p>
      <b>displaying:</b> {{ pi.display }}
    </p>

  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-button>...</button>
  </mat-card-actions>
</mat-card>
