<mat-toolbar class="topbar telative mat-toolbar mat-primary mat-toolbar-single-row" >
  <img ngSrc="assets/bakeryLogo/BakeryLogoWhite.png" alt="Bakery logo" class="logo" width="40" height="47">
  <button mat-flat-button class="empty-button"></button>
  <button mat-flat-button routerLink="/" *ngIf="loggedIn()">Home</button>
  <button mat-flat-button routerLink="/dashboards" *ngIf="loggedIn()">Dashboards</button>
  <button mat-flat-button (click)="logout()" *ngIf="loggedIn()">Logout</button>
</mat-toolbar>
