
<mat-card class="login-card">
  <mat-card-header>
    <h1>Welcome to Bakery 2.0!</h1>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="RegisterForm" class="login-form">
      <div class="mat-icon-container" >
      <mat-icon>mail</mat-icon>
      <p>koenhs&#64;gmail.com</p>
      </div>

      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Confirm password</mat-label>
        <input matInput type="password" formControlName="password">
      </mat-form-field>


      <button mat-flat-button type="submit" class="login-button" color="light-blue">Set password</button>
    </form>




  </mat-card-content>
</mat-card>
