<form [formGroup]="assignTeamForm" (ngSubmit)="submitAssignTeamForm()" class="login-form">
  <mat-dialog-content>
    <div class="piInfo">
      <mat-icon>account_circle</mat-icon>
      <p>Assign team to user</p>
    </div>
    <mat-form-field appearance="fill">
      <mat-label>Available for teams</mat-label>
      <mat-select formControlName="team">
        <mat-option *ngFor="let team of teams" [value]="team.id">{{ team.name }}</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-flat-button type="submit" class="login-button" color="light-blue">Assign team</button>
  </mat-dialog-content>
</form>


