
<mat-card class="login-card">
  <mat-card-header>
    <div class="login-header">
      <img src="../../assets/avisi_logo.png" alt="Avisi Logo" class="logo">
      <span class="title">Bakery 2.0</span>
    </div>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="loginForm" (ngSubmit)="submitLoginForm()" class="login-form">
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password">
      </mat-form-field>

      <button mat-flat-button type="submit" class="login-button" color="light-blue">Login</button>
    </form>

    <div id="g_id_onload"
         data-client_id="459811137064-cfhur48n8304qbm0t55hg9c06rtbl9l0.apps.googleusercontent.com"
         data-context="signin"
         data-ux_mode="popup"
         data-callback="handleCredentialResponse"
         data-auto_select="true"
         data-itp_support="true">
    </div>

    <div class="g_id_signin"
         data-type="standard"
         data-shape="rectangular"
         data-theme="outline"
         data-text="signin_with"
         data-size="large"
         data-locale="en-US"
         data-logo_alignment="left"
         data-width="288">
    </div>



  </mat-card-content>
</mat-card>
