/* Include the Poppins font */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

/* Set the font family and background for the whole component */
:host {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  height: 85vh;
  background-color: #fff; /* Set your background styling here */
}

/* Style the card to center the content */
.login-card {
  width: 100%;
  max-width: 400px;
  margin: auto;
  padding: 20px 40px; /* Adjust top and bottom padding as needed */
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
}

/* Additional styles for header with logo */
.login-header {
  display: flex;
  align-items: center;
  justify-content: center; /* Center logo horizontally */
  gap: 10px;
  margin-bottom: 20px; /* Adjust space between logo and form fields */
}

.logo {
  height: 40px; /* Adjust the logo height as necessary */
  width: auto;
}

.title {
  font-size: 1.5rem;
  color: #1a1919;
}

/* Style for form fields */
mat-form-field {
  width: 100%; /* Full width of form fields */
}

/* Use the colors provided in the style guide for button */
.login-button {
  background-color: #19b;
  color: #fff;
  margin-top: 16px; /* Adjust space between fields and button */
  width: 100%; /* Make button full width */
}



.login-button:hover {
  background-color: #10839f;
}

.google-sign-in-button {
  transition: background-color .3s, box-shadow .3s;

  padding: 12px 16px 12px 42px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);

  color: #757575;
  font-size: 14px;
  font-weight: 500;
  font-family: "Roboto Medium",sans-serif;

  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: white;
  background-repeat: no-repeat;
  background-position: 12px 11px;
  margin-top: 16px;
  width: 100%;

  &:hover {
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
    cursor: pointer;
  }

  &:active {
    background-color: #eeeeee;
  }

  &:focus {
    outline: none;
    box-shadow:
      0 -1px 0 rgba(0, 0, 0, .04),
      0 2px 4px rgba(0, 0, 0, .25),
      0 0 0 3px #c8dafc;
  }

  &:disabled {
    filter: grayscale(100%);
    background-color: #ebebeb;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
    cursor: not-allowed;
  }

}

.google-icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.google-sign-in-button:hover {
  background-color: #f1f1f1;
}

.google-sign-in-button:active {
  background-color: #e0e0e0;
}

.google-sign-in-button[disabled] {
  background-color: #e0e0e0;
  cursor: not-allowed;
}

.g_id_signin {
  padding-top: 16px;
}
