<form [formGroup]="addDashboardForm" (ngSubmit)="submitAddDashboardForm()" class="login-form">
  <mat-dialog-content>
    <div class="piInfo">
      <mat-icon>add_to_queue</mat-icon>
      <p>Add</p>
    </div>

    <mat-form-field appearance="fill">
      <mat-label>Dashboard naam</mat-label>
      <input matInput type="text" formControlName="name">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>URL</mat-label>
      <input matInput type="text" formControlName="dashboardUrl">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Refresh rate</mat-label>
      <input matInput type="number" formControlName="dashboardRefresh">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Available for teams</mat-label>
      <mat-select formControlName="team">
        <mat-option *ngFor="let team of teams" [value]="team">{{ team.name }}</mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-flat-button type="submit" class="login-button" color="light-blue">Add dashboard</button>
  </mat-dialog-content>
</form>
