<mat-card class="dashboard-card">
  <mat-card-header>
    <h1>Edit dashboard</h1>
  </mat-card-header>

  <mat-card-content class="info">
    <h4>
      <mat-icon>tv</mat-icon>
      {{team?.name}}
    </h4>
    <form [formGroup]="dashboardEditForm" (ngSubmit)="submitEditDashboardForm()" class="dashboard-form">
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput type="name" formControlName="name" value="">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Dashboard url</mat-label>
        <input matInput type="dashboardUrl" formControlName="dashboardUrl" value="">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Team</mat-label>
        <input
          type="text"
          placeholder=""
          matInput
          [formControl]="teamFormControl"
          [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">{{option.name}}</mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <div class="button-container">
        <button mat-flat-button type="submit" color="light-blue" class="dashboard-button">Confirm</button>
        <button mat-mini-fab color="warn" type="button" (click)="deleteDashboard()"><mat-icon>delete</mat-icon></button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
