<mat-card class="dashboard-card">
  <mat-card-header>
    <h1>Pending request</h1>
  </mat-card-header>

  <mat-card-content>
    <p>MAC: {{ macAddress }}</p>
    <form [formGroup]="addInitPiForm" (ngSubmit)="submitInitPiForm()">
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput type="name" formControlName="name">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Room</mat-label>
        <mat-select formControlName="roomNo">
          <mat-option *ngFor="let room of rooms" [value]="room">{{ room.roomNo }}</mat-option>
        </mat-select>
      </mat-form-field>

      <div class="button-container">
        <button mat-flat-button type="submit" class="accept-button" color="light-blue">Accept</button>
      </div>
      <div class="button-container">
        <button mat-flat-button type="button" (click)="declinePiRequest()" class="decline-button" color="warn">Decline</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
