mat-card img{
  object-fit: contain;
  height: 45%;
  width: 45%;
  align-self: center;
}
.dashboard-card {
}
.dashboard-card mat-card-title{
  text-align: center;
}
.dashboard-card button {
  width: 100%;
  background-color: #19b;
}

