<form [formGroup]="assignDashboardForm" (ngSubmit)="submitAssignDashboardForm()">
  <mat-dialog-content>
    <div class="dialog-flex">
      <h4>
        <mat-icon>cast-connected</mat-icon>
        {{ pi?.name }}
      </h4>
      <h4>
        <mat-icon>tv</mat-icon>
        {{ pi?.dashboardName }}
      </h4>
    </div>
    <mat-form-field appearance="fill">
      <mat-label>Dashboard</mat-label>
      <input
        type="text"
        placeholder=""
        matInput
        [formControl]="dashboardFormControl"
        [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">{{ option.dashboardName }}</mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <button mat-raised-button type="submit" color="primary" [formGroup]="assignDashboardForm" [disabled]="!assignDashboardForm.valid">Save</button>
    <button mat-raised-button mat-dialog-close>Cancel</button>
  </mat-dialog-actions>
</form>





