/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-card:hover {
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

mat-card {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: box-shadow 0.3s;
}

.mat-light-blue {
  color: white!important;
  background-color: #19b!important;
}
.mat-mdc-menu-panel{
  min-width: 330px!important;
}

