<mat-card class="details-card">
  <mat-card-header>
    <mat-card-title>You're logged in as {{ user?.firstname + ' ' + user?.lastname }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p><b>Teams you're in:</b>
      <ng-container *ngFor="let team of user?.teams; let isLast=last">
        {{ team.name }}{{ isLast ? '' : ', ' }}
      </ng-container>
    </p>
    <p><b>Assigned rooms:</b>
      <ng-container *ngFor="let room of user?.rooms; let isLast=last">
        {{ room.roomNo }}{{ isLast ? '' : ', ' }}
      </ng-container>
    </p>
  </mat-card-content>
</mat-card>

<!-- ... existing content ... -->

<mat-card class="details-card">
  <mat-card-header>
    <mat-card-title>My Raspberry Pi's</mat-card-title>
  </mat-card-header>
  <mat-card-content class="pi-cards-container">
    <ng-container *ngFor="let pi of piCollection?.pis">
      <app-pi-card [pi]="pi"></app-pi-card>
    </ng-container>
  </mat-card-content>
</mat-card>

<!-- ... -->



