mat-dialog-content{
  display: flex;
  flex-direction: column;
}
.piInfo{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.login-button {
  width: 100%;
  max-width: 300px;
}

